[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.*"
djangorestframework = "*"
djangorestframework-jwt = "==1.11.*"
psycopg2-binary = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.9"
